{% extends './base.html' %}


{% block content %}
<div class="container my-5">
<div class="writeform">
<form action={{url_for('update_post', id=posts.id)}} method="POST">
    <div class="form-group">
        {% if current_user.is_authenticated %}
        <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input name="title" type="text" class="form-control" id="formGroupExampleInput" value={{posts.title}}
            placeholder="Title">
        </div>
        <textarea name="body" type="input" class="form-control" id="exampleFormControlTextarea1" rows="3">{{posts.body}}</textarea>
        <div class="form-group">
            <label for="formGroupExampleInput">Image_url</label>
            <input name="image_url" type="text" class="form-control"  value={{posts.image_url}} id="formGroupExampleInput" placeholder="e.g. www.sample.com/sample_image.jpg">
        </div>
        <button type="submit" class="btn peach-gradient">Submit</button>
</form>
</div>
{% else %}
<textarea name="body" type="input" class="form-control" disabled id="exampleFormControlTextarea1"
    rows="3">You must sign in first</textarea>
    <div class="form-group">
        <label for="formGroupExampleInput">Image_url</label>
        <input name="image_url" type="text" class="form-control" id="formGroupExampleInput" placeholder="e.g. www.sample.com/sample_image.jpg">
    </div>
<button type="submit" class="btn peach-gradient" disabled>Submit</button>
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}